form {
    line-height: 2;
}

b {
    width:40px;
    max-width:40px;
    display: inline-block;
    background-color: aquamarine;
    font-size: 35px;
    font-family: 'Trebuchet MS', sans-serif;
}

b.color {
    background-color: black;
    color: white;
}

b.index {
    background-color: white;
    color: khaki;
}
