form {
    line-height: 2;
}

b {
    background-color: aquamarine;
    font-size: 35px;
}

b.color {
    background-color: black;
    color: white;
}

b.index {
    background-color: white;
    color: khaki;
}
